

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* *::-webkit-scrollbar {
  width: 10px;
	height: 10px;
} */

:root.dark {
	--background-color: #1a1a1a;
	--background-color-light: #1d2025;
	--primary-color: #f05f09;
	--white: #ffffff;
	--base-shadow: 4px 4px 6px rgba(13, 13, 15, 0.75), -2px -2px 4px #5E6569, -4px -4px 6px #262E32;
}

body {
	background-color: var(--background-color);
	font-family: Lato, sans-serif;
}

#video-burger {
	display: none;
}

main.index {
	padding: 20px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main.index .logo-up {}

main.index nav {
	flex: 1;
	width: 100%;
	padding: 0px 10%;
	display: flex;
	align-items: center;
}

main.index nav .nav-ul {
	flex: 1;
	display: flex;
	justify-content: space-around;
	gap: 10px;
	list-style-type: none;
}

main.index nav .nav-ul a {
	padding: 20px;
	border-radius: 30px;
	box-shadow: var(--base-shadow);
	background-color: var(--background-color-light);
	transition: .2s ease-in;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--primary-color);
}

main.index nav .nav-ul a:hover {
	background-color: var(--background-color);
}

main.index .logo-down {}

@media screen and (max-width: 1050px) {
	main.index nav {
		flex-direction: column;
	}
	main.index nav .nav-ul {
		flex-direction: column;
	}
	main.index nav .nav-ul a {
		text-align: center;
	}
}

/* -------------------- MENU PAGES -------------------- */

main.videos {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main.videos .video-wrapper {
	position: relative;
	height: 84%;
}

main.videos .video-wrapper video {
	height: 100%;
	width: 100%;
}

main.videos .video-wrapper button {
	position: absolute;
	z-index: 2;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg, #ff782c 0%, #c74801 100%);
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

main.videos nav {
	height: 15%;
	display: flex;
	align-items: center;
	padding: 15px;
}
main.videos nav .logo {
	height: 100%;
	min-width: 100px;
}

main.videos nav .logo .img-wrapper {
	height: 100%;
}
main.videos nav .logo .img-wrapper img {
	height: 100%;
}

main.videos nav ul {
	flex: 1;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

/* main.videos nav ul li {
	width: 100%;
	max-width: 180px;
} */

main.videos nav ul li a {
	padding: 10px;
	width: 100%;
	max-width: 180px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 15px;
	border: none;
	box-shadow: var(--base-shadow);
	background-color: var(--background-color-light);
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--primary-color);
	cursor: pointer;
	transition: .2s;
}

main.videos nav ul li a:hover {
	background-color: var(--background-color);
}

main.videos nav .nav-control-button {
	margin-left: 10px;
	width: 60px;
	height: 60px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 15px;
	border: none;
	box-shadow: var(--base-shadow);
	background-color: var(--background-color-light);
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--primary-color);
	cursor: pointer;
	transition: .2s;
}
main.videos nav .nav-control-button svg {
	width: 100%;
}

@media screen and (max-width: 1300px) {
	main.videos nav ul {
		padding: 5px;
		overflow-x: scroll;
		gap: 15px;
	}
	
}

@media screen and (max-width: 800px) {
	main.videos nav {
		padding: 6px;
	}
	main.videos nav ul li a {
		height: 40px;
		font-size: 0.75em;
	}
	main.videos nav .nav-control-button {
		height: 40px;
		width: 40px;
		padding: 6px;
	}
}

/* @media screen and (max-width: 600px) {
	.transparent {
		opacity: 0;
		pointer-events: none;
	}
	#video-burger {
		display: flex;
	}
	main.videos nav {
		position: relative;
	}
	main.videos nav .logo {
		flex: 1;
	}
	main.videos nav ul {
		position: absolute;
		flex-direction: column;
		background-color: var(--background-color);
		padding: 10px;
		border-radius: 15px;
		box-shadow: var(--base-shadow);
		top: 0;
		right: 0;
		transform: translateY(-102%) translateX(-20px);
	}
	main.videos nav ul li a {
		padding: 5px;
		height: 40px;
	}
} */

/* -------------------- VIDEOS PAGES -------------------- */

main.video nav {
	justify-content: space-between;
	padding: 15px 25px;
}

.video-name h1 {
	font-size: 2em;
	color: var(--primary-color);
}

.video-controls {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	flex: 1;
	/* display: flex; */
	display: none;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.video-controls button {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	border: none;
	background-color: var(--background-color-light);
	box-shadow: var(--base-shadow);
	transition: .2s;
}

.video-controls button:hover {
	background-color: var(--background-color);
}

.video-controls button svg {
	height: 40px;
	width: 40px;
}

@media screen and (max-width: 800px) {
	.video-name h1 {
		font-size: 1.3em;
	}

	.video-controls button {
		width: 40px;
		height: 40px;
	}

	.video-controls button svg {
		width: 30px;
		height: 30px;
	}
}
