

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root.dark {
	--background-color: #1a1a1a;
	--background-color-light: #1d2025;
	--primary-color: #f05f09;
	--white: #ffffff;
	--base-shadow: 4px 4px 6px rgba(13, 13, 15, 0.75), -2px -2px 4px #5E6569, -4px -4px 6px #262E32;
}

body {
	background-color: var(--background-color);
}

main.index {
	padding: 20px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main.index .logo-up {}

main.index nav {
	flex: 1;
	width: 100%;
	padding: 0px 10%;
	display: flex;
	align-items: center;
}

main.index nav .nav-ul {
	flex: 1;
	display: flex;
	justify-content: space-around;
	gap: 10px;
	list-style-type: none;
}

main.index nav .nav-ul a {
	padding: 20px;
	border-radius: 30px;
	box-shadow: var(--base-shadow);
	background-color: var(--background-color-light);
	transition: .2s ease-in;
	font-family: Lato, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--primary-color);
}

main.index nav .nav-ul a:hover {
	background-color: var(--background-color);
}

main.index .logo-down {}


/* -------------------- VIDEOS PAGES -------------------- */

main.videos {
	height: 100vh;
	/* display: flex; */
}

main.videos .video-wrapper {
	position: relative;
	height: 85%;
}

main.videos .video-wrapper video {
	height: 100%;
	width: 100%;
}

main.videos nav {
	height: 15%;
	display: flex;
	align-items: center;
	padding: 15px;
}

main.videos nav ul {
	flex: 1;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

main.videos nav ul li button {
	padding: 10px;
	width: 100%;
	height: 60px;
	max-width: 180px;
	border-radius: 15px;
	border: none;
	box-shadow: var(--base-shadow);
	background-color: var(--background-color-light);
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--primary-color);
	cursor: pointer;
	transition: .2s;
}

main.videos nav ul li button:hover {
	background-color: var(--background-color);
}

main.videos nav ul li button.go-home-button {
	width: 60px;
	height: 60px;
}
main.videos nav ul li button.go-home-button svg {
	width: 100%;
}

.video-controls {
	position: absolute;
	bottom: 0;
}

.video-controls {
	background: inherit;
}